@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <div class="container">
        <h1 class="display-4 text-light">Menú de Inicio</h1>
        <img src="/img/ceiaflogo.png" class="img-fluid" alt="Logo empresa">
        <h2>Inspirado por la excelencia y la innovación</h2>
        <p>
            La UEP Antonio Flores garantiza una formación integral a estudiantes desde Educación Inicial a Bachillerato de la ciudad de Quito, que les permita emprender un proyecto de vida exitosa y feliz al servicio de sus semejantes  con sólidos valores y principios éticos mediante la potenciación de sus capacidades; para ello cuenta con la participación comprometida de su Comunidad Educativa y una infraestructura amplia y funcional que promueve el cuidado y valoración del medio ambiente así como el buen vivir.
        </p>
    </div>
</div>
